
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: #101010;
}
:root{
    --a:0;
    --b:101px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family:'Roboto', sans-serif;
}
.container{
    display: flex;
}
.left{
    position: relative;
    height: 775px; 
    margin: 0px 5px;
    width: 25vw; 
    transition: all 0.3s;
    background-color: #121212;
}


 .cross{

    display: none;
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
    

       
    }




.logo img{
    width: 115px;
    padding-left: 14px;
    position: relative;
    top: 10px;
}
.navbar{
    margin-top: 20px;
    margin-left: 15px;
}
.navbar li :hover{
    cursor: pointer;
}
.navbar li{
    font-size: 16px;
    font-weight: 700;
    display: flex;
    gap: 20px;
    align-items: center;
}
.library{
    margin-top: 10px;
    height: 300px;
    /* min-height: 60vh; */
}
.liblogo{
    padding-top: 8px;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    gap: 10px;
}
.libsvg{
    color: #656565;
    width: 25px;

}
.songlist{
    height: 365px;
    overflow: auto;
    color: white;
   
    padding-left: 0px;
}
.songlist .info{
    /* font-size: 13px; */
    /* width: 344px; */
}
.info div{
    
}
.songlist ul li{
    display: flex;
    border: 2px solid white;
    margin: 10px 5px;
 list-style-type: decimal;
 justify-content: space-between;
 flex-wrap: wrap;
 /* gap: 24px; */

}
.playnow{
    gap: 14px;
}
.songlist ul  :hover{
    cursor: pointer;
}
.legal-information{
    position: absolute;
    bottom: 0px;
}
.legal-information ul{
    position: relative;
    bottom: 0px;
    font-size: small;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: #b3b3b3;
    list-style: none;
}
.language-selector {
    display: flex;
    align-items: center;
    margin-top: 20px;
    /* justify-content: center; */
    margin-left: 5px;
}

.language-selector button img {
    margin-right: 8px;
    filter: invert(1);
    width: 25%;
}

.language-selector button {
    padding: 10px 20px;
    border: 1px solid #ccc; /* Border color */
    background-color: transparent; /* Transparent background */
    color: white; /* Light grey text color */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 10px;
    width: 100px;
    position: relative;
    bottom: 20px;
    left: 10px;
}











.right{
    overflow-x: hidden;
    max-height: 100vh;
    overflow-y: auto;
   background-color: #1d1d1d;
    width: 75vw;
}
.header{
    background-color: #101010;
    align-items: center;
    height: 75px;
    display: flex;
    justify-content: space-between;
}
.buttons{
    position: relative;
    right: 25px;
    display: flex;
    gap: 25px;
}
.signupbtn{
    background-color: #101010;
    color: #656565;
    font-weight: bold;
    border:none;
    outline:none;
    font-size: 16px;
    cursor: pointer;
}
.signupbtn:hover {
    font-size: 17px;
    color: white
}

.loginbtn {
    font-weight: bold;
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}
.spotifyplaylist h1{
    padding: 5px;
}
.songcontainer{
    margin-top: 25px;
    gap: 20px;
    
    /* align-items: center; */
overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}
.card{
    height: 500px;
    width: auto;
    background: #3c3c3c80;
   
}
.card:hover{
    cursor: pointer;
    --a:1;
    --b:185px;
}
h1{
    width: auto;
    margin: auto;
}
h3{
    /* margin: auto; */
    width: 175px;
}
.button
    {
        
        position: relative;
        right: -230px;
        bottom: var(--b);
        opacity: var(--a);
        transition: all ease 0.5s;
}






 .aaski{
   margin-left: 20px;
 }
.playbar{
   
    align-items: center;
    display: flex;

    margin-left: 5px;
    position: fixed;
    bottom: 0px;
    border-radius: 10px;
    width: 74vw;
    background-color: #3b82f6;
}
.abovebar{
    
   margin:35px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.prev_play_next{
    /* margin: auto; */
    /* position: fixed; */
    /* width: 12vw; */
    gap: 15px;
}
.prev_play_next img{
 cursor: pointer;
}
   .songinfo{
    width: 250px;
    font-size: large;
    color: white;
    margin-left: 10px;
   
  

   }
   .songtime{
    display: flex;
    width: 130px;
    font-size: large;
    color: white;
    /* margin-right: 15px; */
  
   }
.songduration{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
   
}
.volume{
    display: flex;
    gap: 15px;
    align-items: center;

    margin-right: 10px;
    cursor: pointer;
}
.range input{
    width: 80px;
    cursor: pointer;
}

.seekbar{
    position: absolute;
    bottom: 5px;
    left: 6px;
    width: 98%;
    height: 5px;
    border: 1px solid white;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    
}
.hamburger{
    display: none;
    height: 30px;
    width: 35px;
    cursor: pointer;
}
.circle{
   
    
    position: relative;
    left: 0%;
    transition: left 0.5s;
    bottom: 3px;
    width: 10px;
    height: 10px;
    border-radius: 13px;
    background-color: white;
}
.seekbar .circle {
    outline: none; /* Removes default focus outline */
    border: none; /* Ensures no border appears */
  }
  @media (max-width: 1000px) {
    .left{
        height: 100vh;
        position: absolute;
        width: 90vw;
        left : -120%;
     z-index: 1;
    }
    .legal-information{
        /* display: none; */
    }
    .right{
        width: 100vw;
    }
    .playbar{
        width: 98vw;
    }
    .seekbar{
        width :98%
    }
    .hamburger{
        display: block;
    }
    .cross{
        z-index: 1;
        display: block;
    }
    .songcontainer{
        justify-content: center;
    }

   .abovebar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   }
   .songtime{width: unset;
    
}
.songinfo{
    width: auto;
    /* margin-left: 100px;
} */
}
}
@media (750px <= width <= 1000px) {
    .left{
        height: 180vh;
    }
    /* … */
  }
